.titre-enigme{
    margin-bottom: 20px;
    font-size: 32px;
    font-family: BEYNO;
    line-height: 35px;
    font-weight: lighter;
}
.titre-enigme::after{
    content: "";
    margin-top: 4px;
    display: block;
    width: 56.5%;
    height: 2px;
    background: #fff;
}
.description-enigme{
    margin-bottom: 50px;
    color: white;
    width: 100%;
}
#do-you-know{
    height:150vh;
    position: relative;
}
/* .challenge{
    position: absolute;
}
.challenge:nth-child(1){
    display: none;
} */
.enigme{
    color: white;
    font-family: inherit;
}