main{
    margin:0;
}
article#enigme-banner{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
article#enigme-banner article#enigme-left{
    max-width: 50%;
    z-index: -200;
}
article#enigme-banner article#enigme-left img{
    max-width: 150%;
    z-index: -200;
    transform: translate(-5%,-25%);
}
article#enigme-banner article#enigme-right{
    margin:10% 0 5% 2%;
    min-width: 50%;
}
article#enigme-banner article#enigme-right  h1#enigme-texte{
    color: #F2CEF2;
    font-size: 60px;
    font-family: BEYNO;
    
}
article#enigme-banner article#enigme-right div.welcome-description-container {
    margin-top: 5%;
    margin-left:0;
    padding: 0;
    width: 750px;    
    background-image: url("../images/Enigme/Pantherenigme2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
article#enigme-banner article#enigme-right div.welcome-description-container p#welcome-description{
    padding:15%;
    width: 400px;    
    font-size:14px;
    text-align: justify;
    transform: translate(10%);
} 
main{
    margin: 0% 5% 5% 15%;
    color: #F2CEF2;
}
main article#do-you-know h2#do-you-know-tittle{
    margin: 0 0 30px 0;
    color: #F2CEF2;
    font-size: 43px;
    font-family: 'Wakanda forever';
} 
main article#do-you-know div.challenge{
    display: flex;
    height: 500px;
    justify-content: space-between;
}
main article#do-you-know div.challenge section#challenge-left{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main article#do-you-know div.challenge section#challenge-left div.challenge-information{
    min-height: 300px;
}
main article#do-you-know div.challenge section#challenge-left div.challenge-information p:nth-child(1){
    margin-bottom: 30px;
    font-size: 16px;
}
main article#do-you-know div.challenge section#challenge-left div.challenge-information p#challenge-alphabet {
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
main article#do-you-know div.challenge section#challenge-left div.challenge-information p#challenge-alphabet span.uganda-alpha{
    font-family: 'Wakanda forever';
}
main article#do-you-know div.challenge section#challenge-left form#enigme-answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
main article#do-you-know div.challenge section#challenge-left form#enigme-answer label{
    width: 100%;
    display: block;
    font-size: 16px;
}
main article#do-you-know div.challenge section#challenge-left form#enigme-answer input{
    margin-bottom: 80px;
    padding: 0 20px;
    width: 520px;
    height: 56px;
    color: #fff;
    font-size:  20px;
    border-radius: 38px;
    background: transparent;
    border: solid #fff 1px;

}
main article#do-you-know div.challenge section#challenge-left form#enigme-answer input::placeholder{
    color: #fff;
}
main article#do-you-know div.challenge section#challenge-left form#enigme-answer button{
    padding: 10px 0;
    border-radius: 38px;
    width: 174px;
    height: 54px;
    border: none;
    color: #021740;
    cursor: pointer;
    font-weight: bolder;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
main article#do-you-know div.challenge section#challenge-left form#enigme-answer button:hover{
    filter: drop-shadow(0 0 20px #F2CEF2);
}
main article#do-you-know div.challenge section#challenge-left form#enigme-answer button:active{
    filter: drop-shadow(0 0 20px #021740);
}
main article#do-you-know div.challenge section#challenge-right{
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
}
main article#do-you-know div.challenge section#challenge-right div#do-you-know-wrapper{
    width: 750px;
    height: 330px;    
    background-image: url("../images/Enigme/Pantherenigme2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
main article#do-you-know div.challenge section#challenge-right div#do-you-know-wrapper div#do-you-know-description{
    color: #fff;
    text-align: justify;
}
main article#do-you-know div.challenge section#challenge-right div#do-you-know-wrapper div#do-you-know-description p:nth-child(1){
    text-align: center;
    margin-bottom: 10px;
}
main article#do-you-know div.challenge section#challenge-right div#do-you-know-wrapper div#do-you-know-description p:nth-child(2){
    text-align: justify;
    width: 500px;
}